<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>550958825745-jqsed8562qgvki9chsds8p8ksu1j12ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550958825745-jqsed8562qgvki9chsds8p8ksu1j12ku</string>
	<key>API_KEY</key>
	<string>AIzaSyCehLpq9m7A_Kd8Jag9XIP3H5tku7gENxs</string>
	<key>GCM_SENDER_ID</key>
	<string>550958825745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yjl.House-Rating</string>
	<key>PROJECT_ID</key>
	<string>houserating-f8718</string>
	<key>STORAGE_BUCKET</key>
	<string>houserating-f8718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550958825745:ios:6aa9da9e364e736d</string>
	<key>DATABASE_URL</key>
	<string>https://houserating-f8718.firebaseio.com</string>
</dict>
</plist>